FORBS_SITE_URL=https://forbsbar.ru
FORBS_PREVIEW_MODE=0
FORBS_TELEGRAM_BOT_TOKEN=
FORBS_TELEGRAM_CHAT_ID=-5502097175
FORBS_TELEGRAM_THREAD_ID=
FORBS_LEGAL_NAME=ООО "ЛИДЕР"
FORBS_LEGAL_ADDRESS=197341, г. Санкт-Петербург, вн. тер. г. муниципальный округ Комендантский аэродром, Аллея Поликарпова, д. 5, лит. А, кв. 393
FORBS_LEGAL_INN=7807258280
FORBS_LEGAL_KPP=780701001
FORBS_LEGAL_OGRN=1227800100835
FORBS_LEGAL_EMAIL=
FORBS_LEGAL_DIRECTOR=Григорян Гуж Каренович
FORBS_LEGAL_CONTACT_PHONE_DISPLAY=8 904 630 85 49
FORBS_LEGAL_CONTACT_PHONE_HREF=+79046308549
FORBS_LEGAL_BANK_ACCOUNT=40702810755000088447
FORBS_LEGAL_BANK_NAME=СЕВЕРО-ЗАПАДНЫЙ БАНК ПАО СБЕРБАНК
FORBS_LEGAL_BANK_BIK=044030653
FORBS_LEGAL_BANK_CORR=30101810500000000653
FORBS_PD_OPERATOR=
FORBS_PD_OPERATOR_ADDRESS=
FORBS_PD_OPERATOR_EMAIL=
FORBS_PD_RETENTION=до обработки заявки и последующих обращений по брони, если больший срок не требуется по закону
PORT=5055
